# Node.js
node_modules/
dist/
dist-ssr/
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
venv/
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv.bak/
ENV/

# Terraform & Secrets
*.tfvars
*.tfstate
*.tfstate.backup
.terraform/
.env

# OS X
.DS_Store

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
